<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NeomandiPrototype</display-name>
  <welcome-file-list>
    <welcome-file>HomePage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FarmerRegServlet</display-name>
    <servlet-name>FarmerRegServlet</servlet-name>
    <servlet-class>com.neomandi.sample.FarmerRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FarmerRegServlet</servlet-name>
    <url-pattern>/fregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TraderRegServlet</display-name>
    <servlet-name>TraderRegServlet</servlet-name>
    <servlet-class>com.neomandi.sample.TraderRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraderRegServlet</servlet-name>
    <url-pattern>/tregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TraderLoginServlet</display-name>
    <servlet-name>TraderLoginServlet</servlet-name>
    <servlet-class>com.neomandi.sample.TraderLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraderLoginServlet</servlet-name>
    <url-pattern>/tloginpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FarmerLoginServlet</display-name>
    <servlet-name>FarmerLoginServlet</servlet-name>
    <servlet-class>com.neomandi.sample.FarmerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FarmerLoginServlet</servlet-name>
    <url-pattern>/floginpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeRegServlet</display-name>
    <servlet-name>EmployeeRegServlet</servlet-name>
    <servlet-class>com.neomandi.sample.EmployeeRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeRegServlet</servlet-name>
    <url-pattern>/eregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLoginServlet</display-name>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <servlet-class>com.neomandi.sample.EmployeeLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <url-pattern>/eloginpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetailsServlet</display-name>
    <servlet-name>ProductDetailsServlet</servlet-name>
    <servlet-class>com.neomandi.sample.ProductDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailsServlet</servlet-name>
    <url-pattern>/productdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.neomandi.sample.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FarmerProfileServlet</display-name>
    <servlet-name>FarmerProfileServlet</servlet-name>
    <servlet-class>com.neomandi.sample.FarmerProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FarmerProfileServlet</servlet-name>
    <url-pattern>/fprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BiddingAlgoServlet</display-name>
    <servlet-name>BiddingAlgoServlet</servlet-name>
    <servlet-class>com.neomandi.sample.BiddingAlgoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BiddingAlgoServlet</servlet-name>
    <url-pattern>/bidalgorithm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSearchServlet</display-name>
    <servlet-name>ProductSearchServlet</servlet-name>
    <servlet-class>com.neomandi.sample.ProductSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearchServlet</servlet-name>
    <url-pattern>/psearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TradeListServlet</display-name>
    <servlet-name>TradeListServlet</servlet-name>
    <servlet-class>com.neomandi.sample.TradeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradeListServlet</servlet-name>
    <url-pattern>/tlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TradePageServlet</display-name>
    <servlet-name>TradePageServlet</servlet-name>
    <servlet-class>com.neomandi.sample.TradePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradePageServlet</servlet-name>
    <url-pattern>/tpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TraderListRemoveServlet</display-name>
    <servlet-name>TraderListRemoveServlet</servlet-name>
    <servlet-class>com.neomandi.sample.TraderListRemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraderListRemoveServlet</servlet-name>
    <url-pattern>/tremove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TraderProfileServlet</display-name>
    <servlet-name>TraderProfileServlet</servlet-name>
    <servlet-class>com.neomandi.sample.TraderProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraderProfileServlet</servlet-name>
    <url-pattern>/tprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FarmerPage</display-name>
    <servlet-name>FarmerPage</servlet-name>
    <servlet-class>com.neomandi.sample.FarmerPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FarmerPage</servlet-name>
    <url-pattern>/fpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FarmerPage2</display-name>
    <servlet-name>FarmerPage2</servlet-name>
    <servlet-class>com.neomandi.sample.FarmerPage2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FarmerPage2</servlet-name>
    <url-pattern>/fpage2</url-pattern>
  </servlet-mapping>
</web-app>